body{
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
canvas { 
    border: 10px solid #000;   
    background-image: url(canvas.jpg);    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.toolbtn{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width:50px;
    height:50px;
}
.column0 {
    float: right;
    width: 15%;
 }
.column1 {
    float: right;
    width: 15%;
  }
.column2 {
    float: left;
    width: 70%;
  }

  